/* Box model setup to border-box */
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/* main styles */
body {
  background-color: #f6f8f6;
  font-family: 'Quicksand', serif;
  font-size: 24px;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}