/* Box model setup to border-box */
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}


/* Buttons reset */
button {
  margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:normal;
	font-size: 100%;
	font-family: inherit;
  color: inherit;
  outline: 0;
}

/* main styles */
:root {
  font-size: 10px;
  --red: #e74c3c;
  --blue: #2980b9;
  --green: #2ecc71;
}


body {
  background-color: #f6f8f6;
  font-family: 'Quicksand', serif;
  font-size: 1.6rem;
  color: #242a31;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.labelsTitle {
  margin: 2rem 1rem;
  font-size: 4rem;
  text-decoration: underline;
  text-align: center;
  
}

.labels {
  display: flex;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
} 

.redLabel,
.blueLabel {
  width: 15rem;
  margin: 2rem;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
}

.redLabel {
  color: var(--red);
}

.blueLabel {
  color: var(--blue);
}

.counters {
  display: flex;
  margin: 3rem 0;
}

.counter {
  width: 15rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.counter .value {
  display: inline-block;
  margin: 0 1rem;
  height: 6rem;
  min-width: 4.5rem;
  border-radius: .5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  text-align: center;
  line-height: 6rem;
  font-size: 3.5rem;
  color: #ecf0f1;
  user-select: none;
}

.counter .value.red {
  background-color: var(--red);
}

.counter .value.blue {
  background-color: var(--blue);
}

.counter .value.green {
  background-color: var(--green);
}


.counter button {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: .5rem;
  border: 2px solid #242a31;
  background-color: #242a31;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  font-size: 2rem;
  color: #f9fafa;
  cursor: pointer;
  transition: .3s;
}

.counter button[disabled] {
  opacity: .5;
  cursor: default;
}

.counter button:not([disabled]):hover {
  background-color: #f9fafa;
  color: #242a31;
}

.counter button:not([disabled]):active {
  transform: translateY(.15rem);
}